.todo {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 15px;
    position: relative;
}
.todo.completed:after {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    right: -10px;
    top: -8px;
    background-color: #0fbd3c;
    border: 2px solid #FFF;
    border-radius: 50%;
}