input.range-1 {
  background: linear-gradient(90deg, #37d461 8%, #d4d4d4 6px, #cecece 100%);
}
input.range-2 {
  background: linear-gradient(90deg, #b5d437 29%, #d4d4d4 6px, #cecece 100%);
}
input.range-3 {
  background: linear-gradient(90deg, #e4d629 50%, #d4d4d4 6px, #cecece 100%);
}
input.range-4 {
  background: linear-gradient(90deg, #ffab42 71%, #d4d4d4 6px, #cecece 100%);
}
input.range-5 {
  background: linear-gradient(90deg, #f6957f 100%, #d4d4d4 6px, #cecece 100%);
}